<footer class=" text-center text-white">
    <div class="container p-7 pb-0">
      <section class="mb-4">
        <a href="#!" >
          <img src="assets/images/icons/facebook (2).png" alt="facebook"/>
        </a>
        <a href="#!" >
          <img src="assets/images/icons/instagram (9).png" alt="instagram"/>
        </a>
        <a href="#!" >
          <img src="assets/images/icons/youtube (1).png" alt="youtube"/>
        </a>
        <a href="#!" >
          <img src="assets/images/icons/spotify (1).png" alt="spotify"/>
        </a>
      </section>
    </div>
    <div class="text-center p-1">
      <h4>© {{currentYear}} Copyright Cap_Soleil_2007</h4>
    </div>
  </footer>