/*.video{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
iframe{
    width: 60%;
    height: 500px;
}*/

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.video-container iframe {
    width: 70rem;
    height: 31rem;
}

@media (max-width: 767px) {
    .video-container iframe {
        width: 100%; /* Make the video full width on smaller screens */
        height: 300px; /* Adjust the height for smaller screens as needed */
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .video-container iframe {
        width: 90%; /* Adjust the width for medium-sized screens */
    }
}