
<div>
    <app-title label="Biographie"></app-title>
    <div class="section1">
        <div class="quote">
            <div class="quote-image">
                <img src="assets/images/logo.png" alt="Image du devis" />
            </div>
            <div class="quote-description">
                <h1>الكاب صولاي مجموعة تاسست سنة 2007 على يد شبان يعشقون ناديا اسمه الدفاع الحسني الجديدي ,  اتخدت المجموعة اهدافها على شكل تشجيع الفريق و التضحية معه اينما حل و ارتحل  ترسيخ عقلية الالتراس في شبان المدينة و النضال من اجل الحرية </h1>
                <h1>الكاب صولاي مجموعة تاسست سنة 2007 على يد شبان يعشقون ناديا اسمه الدفاع الحسني الجديدي ,  اتخدت المجموعة اهدافها على شكل تشجيع الفريق و التضحية معه اينما حل و ارتحل  ترسيخ عقلية الالتراس في شبان المدينة و النضال من اجل الحرية </h1>
                <h1>الكاب صولاي مجموعة تاسست سنة 2007 على يد شبان يعشقون ناديا اسمه الدفاع الحسني الجديدي ,  اتخدت المجموعة اهدافها على شكل تشجيع الفريق و التضحية معه اينما حل و ارتحل  ترسيخ عقلية الالتراس في شبان المدينة و النضال من اجل الحرية </h1>
                <h1>الكاب صولاي مجموعة تاسست سنة 2007 على يد شبان يعشقون ناديا اسمه الدفاع الحسني الجديدي ,  اتخدت المجموعة اهدافها على شكل تشجيع الفريق و التضحية معه اينما حل و ارتحل  ترسيخ عقلية الالتراس في شبان المدينة و النضال من اجل الحرية </h1>
            </div>
        </div>
    </div>
    
</div>

