<app-title label="Our Section"></app-title>
<div class="our-section">
    
<div class="example-action-buttons">
    <button mat-button (click)="accordion.openAll()">Expand All</button>
    <button mat-button (click)="accordion.closeAll()">Collapse All</button>
</div>
  <mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Section Europe
        </mat-panel-title>
        <mat-panel-description>
            Image Section
            <mat-icon>account_circle</mat-icon>
          </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="image-container">
        <img src="assets/images/logo.png" alt="Image Description" />
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Section Europe
          </mat-panel-title>
          <mat-panel-description>
              Image Section
              <mat-icon>account_circle</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="image-container">
          <img src="assets/images/logo.png" alt="Image Description" />
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Section Europe
          </mat-panel-title>
          <mat-panel-description>
              Image Section
              <mat-icon>account_circle</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="image-container">
          <img src="assets/images/logo.png" alt="Image Description" />
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Section Europe
          </mat-panel-title>
          <mat-panel-description>
              Image Section
              <mat-icon>account_circle</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="image-container">
          <img src="assets/images/logo.png" alt="Image Description" />
        </div>
      </mat-expansion-panel>
   
    
  
  </mat-accordion>
</div>
